<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">

            <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark">
                <!-- Background - @formatter:off -->
                <!-- Rings -->
                <svg class="absolute inset-0 pointer-events-none" style="background-color: #1e761e"
                     viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
                    <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                        <circle r="234" cx="196" cy="23"></circle>
                        <circle r="234" cx="790" cy="491"></circle>
                        <circle cx="103" cy="400" r="3" stroke-width="43"></circle>

                    </g>
                </svg>
                <!-- @formatter:on -->
                <div class="z-10 relative flex flex-col items-center">
                    <h2 class="text-xl font-semibold">CDG Prévoyance</h2>
                    <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                        Charger un fichier relevé bancaire.
                    </div>
                    <div class="max-w-2xl mt-6 sm:text-2xl text-center tracking-tight text-secondary">
                        cette section concerne le téléchargement des fichiers relevés bancaires.
                    </div>
                </div>
            </div>

            <div class="flex items-center justify-between w-full">
                <div style="padding: 2rem">
                    <h2 class="text-3xl font-semibold tracking-tight leading-8">Releve Bancaire File dashboard</h2>
                    <div class="font-medium tracking-tight text-secondary">releve bancaire file uploading section</div>
                </div>
            </div>
            <div class="grid grid-cols-1 xl:grid-cols-3 gap-8 w-full mt-8" style="padding: 2.5rem !important">








                <div class="flex flex-col flex-auto p-6 bg-card rounded-2xl shadow">
                    <div class="flex flex-col">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">upload your file here:  </div>
                    <div class="text-secondary font-medium">
                        Supported file extension: <span><code style="color: #635bff"> .txt</code></span> file
                    </div>
                    </div>

                    <form enctype='multipart/form-data' class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl overflow-hidden">
                        <p>Choose you file: </p>
                        <mat-form-field (change)="fileChangeListener($event)">
                            <ngx-mat-file-input  placeholder="Multiple inputs" multiple></ngx-mat-file-input>
                            <mat-icon matSuffix>folder</mat-icon>
                        </mat-form-field>
                        <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                            <div formGroupName="relevebancaire" class="form-area">
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="col-md-9">
                                        <div class="input-space">
                                            <button mat-raised-button color="primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </form>




                </div>
                <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden p-6">


                    <div class="flex flex-col">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">File uploaded details </div>
                        <div class="text-green-600 font-medium text-sm">displaying text file details: </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                        <table class="table w-full bg-transparent">
                            <thead class="thead-dark">
                            <tr>
                                <th >Nom Document</th>
                                <th>Date Creation</th>
                                <th>Type</th>
                                <th>Taille</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="text-align: center">
                                    <span>{{this.fileName}}</span>
                                </td>
                                <td style="text-align: center">
                                    <span>{{this.filelastModifiedDate}}</span>
                                </td>
                                <td style="text-align: center">
                                    <span>{{this.fileType}}</span>
                                </td>
                                <td style="text-align: center">
                                    <span>{{this.fileSize}}</span>
                                </td>
                                <td style="text-align: center">
                                    <span> - </span>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                            </div>
                        </div>











                </div>



            </div>
        </div>
    </div>

</div>

