<div class="flex flex-col flex-auto min-w-0">

    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">

                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full overflow-hidden">
                    </div>
                    <div class="flex flex-col min-w-0 ml-4">
                        <ng-container>
                            <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">Task Management section.</div>
                        </ng-container>
                        <div class="flex items-center">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:adjustments'"></mat-icon>
                            <div class="ml-1.5 leading-6 truncate text-secondary">Releve bancaire management</div>
                        </div>
                    </div>
                </div>

                <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">

                    <a
                        mat-stroked-button
                        [routerLink]="['..']">
                        <mat-icon
                            class="icon-size-5 mr-2"
                            [svgIcon]="'heroicons_solid:view-boards'"></mat-icon>
                        Back to tasks
                    </a>

                </div>


                </div>
            </div>
    </div>

    <div class="flex-auto border-t -mt-px pt-4 sm:pt-6">
            <div class="w-full mx-auto">
                <mat-tab-group  (selectedTabChange)="selectedTabChange($event)"
                    class="sm:px-2"
                    [animationDuration]="'0'">

                    <mat-tab label="Releve Bancaire">
                        <ng-template matTabContent>

                            <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-8">
                                <!-- Recent transactions table -->
                                <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                                    <div class="p-6">
                                        <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate"></div>
<!--                                        <div class="text-secondary font-medium">Releve bancaire informations: </div>-->
                                        <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Releve Bancaire informations :</div>
                                    </div>

                                    <div class="grid grid-cols-1 xl:grid-cols-2 gap-8 w-full mt-8">
                                        <div class="flex flex-col mx-6 my-3">
                                        <div class="text-secondary font-medium">Releve bancaire id : </div>
                                        </div>

                                        <div class="flex flex-col mx-6 my-3">
                                            <div class="text-secondary font-medium"> {{this.releveBancaire.releveBancaireId}} </div>
                                        </div>

                                        <div class="flex flex-col mx-6 my-3">
                                            <div class="text-secondary font-medium">Date reception : </div>

                                        </div>
                                        <div class="flex flex-col mx-6 my-3">
                                            <div class="text-secondary font-medium">{{this.releveBancaire.dateReception}}</div>

                                        </div>
                                        <div class="flex flex-col mx-6 my-3">
                                            <div class="text-secondary font-medium">Label : </div>

                                        </div>
                                        <div class="flex flex-col mx-6 my-3">
                                            <div class="text-secondary font-medium"> {{this.releveBancaire.label}} </div>

                                        </div>
                                        <div class="flex flex-col mx-6 my-3">
                                            <div class="text-secondary font-medium">Nombres de lignes : </div>

                                        </div>
                                        <div class="flex flex-col mx-6 my-3">
                                            <div class="text-secondary font-medium">{{this.releveBancaire.nbrLignes}} </div>

                                        </div>
                                        <div class="flex flex-col mx-6 my-3">
                                            <div class="text-secondary font-medium">Nombres des operations credits : </div>

                                        </div>
                                        <div class="flex flex-col mx-6 my-3">
                                            <div class="text-secondary font-medium"> {{this.releveBancaire.nbrOperationCredit}} </div>

                                        </div>
                                        <div class="flex flex-col mx-6 my-3">
                                            <div class="text-secondary font-medium">Nombres des operation debits :  </div>

                                        </div>
                                        <div class="flex flex-col mx-6 my-3">
                                            <div class="text-secondary font-medium"> {{this.releveBancaire.nbrOperationDebit}}</div>

                                        </div>

                                        <div class="flex flex-col mx-6 my-3">
                                            <div class="text-secondary font-medium">Solde Initial : </div>

                                        </div>
                                        <div class="flex flex-col mx-6 my-3">
                                            <div class="text-secondary font-medium"> {{this.releveBancaire.soldeInitial}}</div>

                                        </div>
                                        <div class="flex flex-col mx-6 my-3">
                                            <div class="text-secondary font-medium">Solde Final : </div>

                                        </div>
                                        <div class="flex flex-col mx-6 my-3">
                                            <div class="text-secondary font-medium">{{this.releveBancaire.soleFinal}} </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab label="Les lignes de releve bancaire" >
                                <ng-template matTabContent>
                                    <div class="grid grid-cols-1 xl:grid-cols-1 gap-8 w-full mt-8">

                                        <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                                            <div class="p-6">
                                                <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Recent transactions</div>
                                                <div class="text-secondary font-medium">1 pending, 4 completed</div>
                                            </div>

                                            <div class="overflow-x-auto mx-6">
                                                <table
                                                    class="w-full bg-transparent"
                                                    mat-table
                                                    matSort
                                                    [dataSource]= "dataSource"
                                                    [trackBy]="trackByFn">

                                                    <!-- Transaction ID -->
                                                    <ng-container matColumnDef="ligneReleveId">
                                                        <th
                                                            mat-header-cell
                                                            mat-sort-header
                                                            *matHeaderCellDef>
                                                            ID
                                                        </th>
                                                        <td
                                                            mat-cell
                                                            *matCellDef="let ligneReleve">
                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                    {{ligneReleve.ligneReleveId}}
                                </span>
                                                        </td>
                                                    </ng-container>

                                                    <!-- Date -->
                                                    <ng-container matColumnDef="creditDebit">
                                                        <th
                                                            mat-header-cell
                                                            mat-sort-header
                                                            *matHeaderCellDef>
                                                            Credit debit
                                                        </th>
                                                        <td
                                                            mat-cell
                                                            *matCellDef="let ligneReleve">
                                <span class="pr-6 whitespace-nowrap">
                                    {{ligneReleve.creditDebit}}
                                </span>
                                                        </td>
                                                    </ng-container>

                                                    <!-- Name -->
                                                    <ng-container matColumnDef="dateOperation">
                                                        <th
                                                            mat-header-cell
                                                            mat-sort-header
                                                            *matHeaderCellDef>
                                                            Date operation
                                                        </th>
                                                        <td
                                                            mat-cell
                                                            *matCellDef="let ligneReleve">
                                <span class="pr-6 whitespace-nowrap">
                                    {{ligneReleve.dateOperation}}
                                </span>
                                                        </td>
                                                    </ng-container>

                                                    <!-- Amount -->
                                                    <ng-container matColumnDef="dateValue">
                                                        <th
                                                            mat-header-cell
                                                            mat-sort-header
                                                            *matHeaderCellDef>
                                                            Date value
                                                        </th>
                                                        <td
                                                            mat-cell
                                                            *matCellDef="let ligneReleve">
                                <span class="leading-relaxed whitespace-nowrap">
                                    {{ligneReleve.dateValue}}
                                </span>
                                                        </td>
                                                    </ng-container>

                                                    <!-- Status -->
                                                    <ng-container matColumnDef="modePaiment">
                                                        <th
                                                            mat-header-cell
                                                            mat-sort-header
                                                            *matHeaderCellDef>
                                                            Mode paiment
                                                        </th>
                                                        <td
                                                            mat-cell
                                                            *matCellDef="let ligneReleve">
                                                            <span class="leading-relaxed whitespace-nowrap">{{ligneReleve.modePaiment}}</span>
                                                        </td>
                                                    </ng-container>

                                                    <!-- Footer -->
                                                    <ng-container matColumnDef="montant">
                                                        <th
                                                            mat-header-cell
                                                            mat-sort-header
                                                            *matHeaderCellDef>
                                                            Montant
                                                        </th>
                                                        <td
                                                            mat-cell
                                                            *matCellDef="let ligneReleve">
                                <span class="pr-6 font-medium whitespace-nowrap">
                                    {{ligneReleve.montant}}
                                </span>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="numCheck">
                                                        <th
                                                            mat-header-cell
                                                            mat-sort-header
                                                            *matHeaderCellDef>
                                                            Numero cheque
                                                        </th>
                                                        <td
                                                            mat-cell
                                                            *matCellDef="let ligneReleve">
                                <span class="pr-6 font-medium whitespace-nowrap">
                                    {{ligneReleve.numCheck}}
                                </span>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="operationNature">
                                                        <th
                                                            mat-header-cell
                                                            mat-sort-header
                                                            *matHeaderCellDef>
                                                            Operation nature
                                                        </th>
                                                        <td
                                                            mat-cell
                                                            *matCellDef="let ligneReleve">
                                <span class="pr-6 font-medium whitespace-nowrap">
                                    {{ligneReleve.operationNature}}
                                </span>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="refCdg">
                                                        <th
                                                            mat-header-cell
                                                            mat-sort-header
                                                            *matHeaderCellDef>
                                                            Ref cdg
                                                        </th>
                                                        <td
                                                            mat-cell
                                                            *matCellDef="let ligneReleve">
                                <span class="pr-6 font-medium whitespace-nowrap">
                                    {{ligneReleve.refCdg}}
                                </span>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="refPaiment">
                                                        <th
                                                            mat-header-cell
                                                            mat-sort-header
                                                            *matHeaderCellDef>
                                                            Ref Paiment
                                                        </th>
                                                        <td
                                                            mat-cell
                                                            *matCellDef="let ligneReleve">
                                <span class="pr-6 font-medium whitespace-nowrap">
                                    {{ligneReleve.refPaiment}}
                                </span>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="rib">
                                                        <th
                                                            mat-header-cell
                                                            mat-sort-header
                                                            *matHeaderCellDef>
                                                            Rib
                                                        </th>
                                                        <td
                                                            mat-cell
                                                            *matCellDef="let ligneReleve">
                                <span class="pr-6 font-medium whitespace-nowrap">
                                    {{ligneReleve.rib}}
                                </span>
                                                        </td>
                                                    </ng-container>
                                                    <ng-container matColumnDef="details">
                                                        <th mat-header-cell  *matHeaderCellDef > Details </th>
                                                        <td mat-cell *matCellDef="let ligneReleve" >
                                                            <button
                                                                class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                                                mat-stroked-button
                                                                (click)="toggleDetails(ligneReleve.ligneReleveId)"
                                                            >
                                                                <mat-icon
                                                                    class="icon-size-5"
                                                                    [svgIcon]="selectedLigneReleve?.ligneReleveId === ligneReleve.ligneReleveId ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                                            </button>

                                                        </td>
                                                    </ng-container>
                                                    <tr
                                                        mat-header-row
                                                        *matHeaderRowDef="displayedColumns"></tr>
                                                    <tr
                                                        class="order-row h-16"
                                                        mat-row
                                                        *matRowDef="let row; columns: displayedColumns;"></tr>


                                                </table>
                                                <div class="grid" *ngFor="let ligneReleve of ligneReleves">
                                                    <ng-container *ngIf="selectedLigneReleve?.ligneReleveId === ligneReleve.ligneReleveId">
                                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: ligneReleve}"></ng-container>
                                                    </ng-container>
                                                </div>
                                                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                                               showFirstLastButtons>
                                                </mat-paginator>

                                            </div>
                                        </div>

                                    </div>


                                        <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b ng-tns-c134-6">
                                            <div class="text-4xl font-extrabold tracking-tight ng-tns-c134-6"></div>
                                            <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 ng-tns-c134-6">

                                        <button
                                            class="ml-4"
                                            mat-flat-button
                                            [color]="'warn'"
                                        >
                                            <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                            <span class="ml-2 mr-1">Rejeter</span>
                                        </button>
                                        <button
                                                    class="ml-4"
                                                    mat-flat-button
                                                    [color]="'primary'"
                                                >
                                                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                                                    <span class="ml-2 mr-1">Valider</span>

                                        </button>
                                            </div>
                                        </div>

                                </ng-template>
                            </mat-tab>

                    <mat-tab label="Document">
                        <ng-template matTabContent>
                            <div class="grid grid-cols-1 xl:grid-cols-1 gap-8 w-full mt-8">

                                <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                                    <div class="p-6">
                                        <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Document de releve bancaire</div>
                                        <div class="text-secondary font-medium">L'affichage de document relve</div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>


                </mat-tab-group>

            </div>
        <ng-template
            #rowDetailsTemplate
            let-ligneReleve>
            <div class="shadow-lg overflow-hidden">
                <div class="flex border-b">
                    <!-- Selected product form -->
                    <form
                        class="flex flex-col w-full"
                        [formGroup]="selectedLigneReleveForm">

                        <div class="flex flex-col sm:flex-row p-8">

                            <div class="flex flex-auto flex-wrap">
                                <!-- Name, SKU & etc. -->
                                <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">

                                    <!-- Name -->
                                    <mat-form-field class="w-full">
                                        <mat-label>Ligne Releve Id</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'ligneReleveId'">
                                        {{ligneReleve.ligneReleveId}}
                                    </mat-form-field>

                                    <!-- SKU and Barcode -->
                                    <div class="flex">
                                        <mat-form-field class="w-1/3 pr-2">
                                            <mat-label>RIB</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'rib'">
                                            {{ligneReleve.rib}}
                                        </mat-form-field>
                                        <mat-form-field class="w-2/3 pl-2">
                                            <mat-label>Numero Cheque</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'numCheck'">
                                            {{ligneReleve.numCheck}}
                                        </mat-form-field>

                                        <mat-form-field class="w-2/3 pl-2">
                                            <mat-label>Operation Nature</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'operationNature'">
                                            {{ligneReleve.operationNature}}
                                        </mat-form-field>
                                    </div>


                                    <!-- Stock and Reserved -->
                                </div>

                                <!-- Cost, Base price, Tax & Price -->
                                <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Credit Debit</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'creditDebit'">
                                        {{ligneReleve.creditDebit}}
                                    </mat-form-field>
                                    <mat-form-field class="w-full">
                                        <mat-label>Reference CDG</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'refCdg'">
                                        {{ligneReleve.refCdg}}
                                    </mat-form-field>

                                </div>

                                <!-- Weight & Tags -->
                                <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Reference Paiment</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'refPaiment'">
                                        {{ligneReleve.refPaiment}}
                                    </mat-form-field>


                                </div>

                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </ng-template>




</div>
</div>
